@import "fonts.css";

:root {
    --light-gray: rgb(232, 232, 232);
    --gray: rgb(190, 190, 190);
    --black: rgb(62, 62, 62);
    --red: rgb(255, 53, 53);
    --yellow: rgb(244, 255, 121);
    --light-blue: rgb(146, 207, 241);
    --blue: rgb(1, 136, 212);
    --purple: rgb(149, 58, 145);
}

* {
    margin: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    background: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    color: var(--black);
    font-family: 'Gotham Pro';
}

.wrapper {
    width: 1060px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.records-container {
    width: 100%;
    margin: 72px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.record {
    height: 308px;
    padding: 32px;
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .1s;
    user-select: none;
}

.record_active, .record:hover {
    border: 1px solid var(--gray);
}

.record__header, .record__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.record__name {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.record__date {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--gray);
}

.main-button {
    font-size: 12px;
    font-weight: bold;
    padding: 12px 20px;
    border: 1px solid var(--black);
    color: var(--black);
    border-radius: 100px;
    user-select: none;
    cursor: pointer;
    transition: .1s;
}

.record__btn-open {
    opacity: 0;
}

.record_folder {
    background-color: var(--light-gray);
}

.record_folder .record__date {
    color: var(--black);
}

.record__btn-setting {
    width: 28px;
    height: 28px;
    background-size: 28px;
    background-image: url(../image/setting.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .6;
    transition: .1s;
}

.record_active .record__btn-open,
.record:hover .record__btn-open {
    opacity: .6;
}

.record_active .record__btn-open:active,
.record:hover .record__btn-open:active,
.record__btn-setting:hover,
.record_active .record__btn-setting {
    opacity: 1;
}


/* Record Page CSS */

.record-container {
    width: 100%;
    margin: 72px 0;
}

.title-block, .header-block {
    width: 764px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: black;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.header-block {
    font-size: 28px;
    line-height: 36px;
    padding-top: 36px;
    padding-bottom: 12px;
}

.text-container, .list-container, .photo-container {
    display: grid;
    grid-template-columns: 764px 164px;
    grid-column-gap: 32px;
    padding: 12px 50px;
    position: relative;
}

.text-block {
    font-family: "PT Serif";
    font-size: 20px;
    line-height: 30px;
    color: black;
}

.comment-block, .photo-description {
    font-size: 12px;
    line-height: 18px;
    margin-top: 4px;
}

.quote-block {
    font-family: "PT Serif";
    width: 870px;
    font-size: 36px;
    line-height: 52px;
    color: black;
    padding: 24px 50px;
}

.list-block {
    font-family: "PT Serif";
    display: grid;
    grid-row-gap: 12px;
    font-size: 20px;
    line-height: 30px;
    color: black;
}

.list-block li {
    margin-left: 52px;
    padding-left: 12px;
}

.small-header {
    font-family: "Gotham Pro";
    font-weight: bold;
    font-size: 18px;
}

.photo-container {
    padding: 24px 50px;
}

.photo-block {
    width: 764px;
    position: relative;
}

.vertical-photo {
    width: 576px;
}

.photo-block__content {
    display: flex;
    position: relative;
    background-color: var(--light-gray);
    overflow: hidden;
}

.photo-content__backgr {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    background-image: url(https://cms.enjourney.ru/upload/Jana/Hawaii/ha1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .6;
    z-index: 0;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    z-index: 1;
}

.photo-block__footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 18px;
}

.photo-description {
    flex: 1;
    max-width: 576px;
    margin-top: 0;
}

.btn-photo-delete {
    font-family: "Gotham Pro";
    font-size: 12px;
    line-height: 18px;
    color: var(--red);
    width: max-content;
    cursor: pointer;
    user-select: none;
    transition: .1s;
}

.btn-photo-delete:hover {
    font-weight: bold;
}

.photo-block__footer .btn-photo-delete {
    margin-left: 24px;
}

.photo-count {
    font-family: "Gotham Pro";
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.btn-photo-switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    cursor: pointer;
    z-index: 2;
}

.btn-photo-switch_prev {
    left: 0;
}

.btn-photo-switch_follow {
    right: 0;
}

.photo-block__gallery {
    margin-top: 20px;
    width: 576px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 64px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.gallery-block {
    width: 64px;
    height: 64px;
    background-color: var(--light-gray);
    position: relative;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .1s;
}

.gallery-block_active::before {
    content: "";
    width: 72px;
    height: 72px;
    position: absolute;
    top: -4px;
    left: -4px;
    border: 2px solid var(--red);
    box-sizing: border-box;
}

.gallery-block_btn-add {
    background-size: 16px;
    background-image: url(../image/add.svg);
}

.gallery-block_btn-add:active {
    background-color: var(--gray);
}

.btn {
    position: absolute;
    top: 14px;
    left: 0;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--light-gray);
    transition: .1s;
    opacity: 0;
}

.editing-block:hover > .btn {
    opacity: 1;
}

.btn_add {
    background-image: url(../image/add.svg);
    background-size: 10px;
}

.btn_add:active {
    background-color: var(--gray);
}

.placeholder {
    font-weight: bold;
    font-size: 110%;
    color: rgb(214, 214, 214);
    opacity: 0;
    transition: .1s;
}

.editing-block:hover > .placeholder {
    opacity: 1;
}

.editing-block:hover > .comment-block > .placeholder {
    opacity: 0;
}

.editing-block:hover > .comment-block > .placeholder_start-comment {
    opacity: 1;
}

.comment-block:hover > .placeholder {
    opacity: 1 !important;
}

.placeholder_start-text, .placeholder_start-header {
    opacity: 1;
}


/* Text Styles */

.line-through {
    text-decoration: line-through;
}

.text-selection {
    background-color: var(--yellow);
}

a {
    color: var(--blue);
    outline: none;
    text-decoration: none;
    border-bottom: 0.8px dashed var(--light-blue);
    transition: .1s;
}

a:hover {
    border-color: var(--blue);
}

a:active {
    color: var(--red);
    border-color: var(--red);
}

a:visited {
    color: var(--purple);
    border-color: var(--purple);
}